<h2>New Message</h2>
<form class="form-item" action="/discussions/<%= discussion.id %>/messages" method="POST" >  
    <%- include('_form_fields') %>
    <div class="btn-row-end">
         <a class="btn" href="/discussions/<%= discussion.id %>">Cancel</a>
    <button class="btn btn-primary"  type="submit" >Create</button>
    </div>
   
</form>