<% if(locals.messages.error != null) { %>
<div class="error-message">
    <%=  messages.error  %>
</div> 
<% } %>
<% if(locals.errorMessage != null) { %>
<div class="error-message">
    <%=  errorMessage  %>
</div> 
<% } %>