<header class="page-header" >
    <nav class="header-nav">  
        <div class="header-row">
            <a class="header-title" href='/'> Agora  </a> 
            <a class="right register" href="/users/register">Register</a>              
                
        </div>    
            <ul class="locked"> 
            <li class="header-link"><a href="/discussions">Topics</a></li>
            <li class="header-link"><a href="/users">Users</a></li> 
            <li class="header-link" > 
                   <% if(locals.loggedIn) {%>
                <a class="dd-link" href="/discussions/new">Add Topic</a>
            <% } %>  
            </li>
           
            <li class="dropdown">
                <button class="no-btn right dd-link">Profile</button>
                <%- include('./userMenu') %> 
            </li>          

            <!-- 
            <li class="header-link"><a href="/messages">Messages</a></li>
            <li class="header-link"><a href="/messages/new">Add Messages</a></li> 
            -->
            </ul>     
    
    </nav>
</header>