
<div class="mesh">
    <% discussions.forEach( post => { %>  
    <div class="tile">  
        <a href="/discussions/<%= post.id %>">
        <div class="post-cover">
        <span class="post-topic"> <%= post.topic %> </span> 
        </div>  
        </a> 
    </div> 
    <% }) %>
</div>
