    <div class="dropdown-content">
     
        <a class="no-btn dd-link" href="/users/login">Log in</a>
        <%- include('logoutForm') %>  
        <% if(  locals.isAdmin ) { %>
        <a class="no-btn dd-link" href="/admin/profile">Profile</a>
        <a class="no-btn dd-link" href="/admin/check">Issues</a>
        <a class="no-btn dd-link" href="/users/edit">Profile Update</a>
        <% }else{%>
        <% if( locals.loggedIn == true ) { %>
        <a class="no-btn dd-link" href="/users/profile">Profile</a>
    <!--  <a class="dd-link" href="/discussions/new">Add Topic</a> -->
        <a class="no-btn dd-link" href="/users/edit">Profile Update</a>
        <%- include( 'deleteForm_noBtn', { url: '/users/delete' } ) %>
        <% } %>
        <% } %>
    

    </div>


