:root{
    --form-label-font-size: 1rem;
    --form-label-font-size-sm: 0.8rem;
    --form-input-border-color: hsl(var(--color-base-hue), 50%, 50%) ;
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 90%) ;
    --form-input-border-color-medium: hsl(var(--color-base-hue), 70%, 70%) ;
    --form-input-background: hsl(var(--color-base-hue), 10%, 100%);
    --form-input-text-color: hsl(var(--color-base-hue), 90%, 10%);
    --color-fprm-text-light: beige;
    --textarea-width: 100vw;
    --area-aspect-ratio: 6;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.3rem 0;
    column-gap:0.3rem;
    justify-content:space-between;
}
.end{
    align-items: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    align-content: flex-end ;
}
.log{
    width: 400px
}
.form-item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.5rem 0;
}
.form-item > * {
    width:100%;    

}
.empty{
    display: flex;
    flex-direction: column;
    width:100%;   
    padding: 0;
    margin: 0;
}
.no-grow{
    flex-grow: 0; 
    margin-left: 0;
}

/* .form-item:nth-child(2){
    margin-left: ;
} */
.form-item > label{
    font-size: var(--form-label-font-size);
    margin: .35rem 0;
}
.form-item input, .form-item select, .form-item textarea{
    height: 2rem;
    border-radius: .2rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background);
    color:var(--form-input-text-color);
    font-size: 1rem;
    font-weight: normal;
    font-family:  Helvetica, sans-serif;
    outline: 0;
}
.form-row input, .form-item select, .form-item textarea{
     padding-left: 0.5rem;
}



.form-row input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: var(--form-input-border-color-light);
}
.form-item textarea{
    resize:horizontal; 
    min-width: var(--book-cover-width);
    min-height: calc(var(--textarea-width) / var(--area-aspect-ratio));
    margin: 0.3rem 0;
} 
.form-item select option{
    background-color:var(--form-input-background);
}
.text-medium{
    font-size: 1.2rem;
}
@media only screen and (max-width: 650px)  {
/*     .form-item > label{
        font-size: var(--form-label-font-size-sm);
    }
    .form-item input, .form-item select, .form-item textarea{
        font-size: var(--form-label-font-size-sm);;
    }    
    
    .author-name{
        font-size: var(--form-label-font-size-sm);
    } */


   
}
@media only screen and (max-width: 450px)  {
    .form-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .form-row-end {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .form-row-preview{
        display: flex;
        flex-direction: column;
    }

}