
 :root{  
    --grid-width-replies: 250px; 
    --text-info-sm: 0.6rem ;
    --post-cover-width: 200px;
    --post-cover-aspect-ratio: 1;
} 

.post{
    background-color: white;   
    padding: 0.5rem;
}
.item{
    border: 1px solid var(--form-input-border-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.message{
    display: grid;
    background-color: var(--color-back-light-hue);
    padding: 0.5rem;
}
.reply{
    background-color: var(--color-back-light);
    padding: 0.5rem;
    width:  85%;
    justify-self: flex-end;
}
.info-small{
    padding: 0;
    margin-bottom: 0;
    font-size: var(--text-info-sm);
}
.grid{
    display: grid;
    gap: 0.1rem;
    margin: 0.3rem 0 ;
}
.mesh{
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, var(--post-cover-width));
}
.post-cover{
    width: var(--post-cover-width);
    height: calc(var(--post-cover-width) / var(--post-cover-aspect-ratio));
    background-color:white ;
    border:1px solid hsla(var(--color-base-hue), 50%, 70%, 0.6) ;
    border-radius: 0px;
}
.post-cover:hover{
    background-color: var(--color-back-dark);
    color: white;
}
.post-topic{
    position: absolute;  
    left:0;
    width:90%;
    bottom: 40px; 
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.grid-column-2{
    grid-template-columns: 40% 60%;
}
.grid-end{
    justify-self: end;
}
.grid-row{
    grid-template-columns: auto auto;
    align-items: stretch;
    gap: 0.5rem;
    align-self: center;
}
.center{
    display: flex;
    align-items: center;
    text-align: center;
}
.tile{   
    position: relative;   
    margin: 0;
    padding: 0;
}
.user{
    font-size: 0.8rem;
    color:brown;
}
@media only screen and (max-width: 450px) {
  
.reply{
    width:  95%;
}
.grid{
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
}
.log {
    width: auto;
}
.log input{
    width: 100%;
}
}