<div>
    <label for="email" >Email</label>
    <% if(locals.email){ %>
    <input type="email" id="email" name="email" value="<%= email %>" placeholder="email required" required />
    <% } else { %>
    <input type="email" id="email" name="email" placeholder="email required" required />
    <% } %>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required  />
</div>