<h2>Register</h2>
<hr class="medium"><br>

<form class="grid item log" action="/users/register" method="POST">
    <div class="grid grid-column-2">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required /> 
    </div>  
    <hr class="medium">     
    <%- include('_form_fields') %>
    <hr class="medium">
    <div class="grid grid-column-2">
        <div></div>
       <button class="btn btn-primary" type="submit" >Register</button> 
    </div> 
  
</form><br> <hr class="medium">

<div class="form-row">  
<a class="btn btn-primary" href="/users/login">login</a>
</div>